<!DOCTYPE html>
<html>
<head>
<base href="http://www.s.com/" />
<base target="_selef" />
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>首页</title>
<style type="text/css">

html, body, * {
	font-family: "Microsoft YaHei" ! important;
	font-size: 1.2rem;
	color:#666;
}
a:HOVER{
	color:#333;
}
a{
	text-decoration:none;
	color:#000;
}
header {
	background-color: #ddd;
	width:100%;
	display:block;
	text-align:justify;
}
code {
	font-family: " Helvetica ! important;
}
nav{
	float:left;
	display:inline-block;
	margin-right:4em;
}
#text_userinfo{
	float:none;
}


</style>
</head>
<body>
	<header>{include file="model/nav" /} {include
		file="model/text_userinfo" /} </header>
	<br />